@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

spatio {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100px;
}

.hidden {
  display: none;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.hidden-xs {
  display: none;
}

.button {
  margin: 0px;
  padding: 20px;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-main-fluid {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3dcdbc), color-stop(#2bc3c0), color-stop(#22b8c2), color-stop(#27adc1), to(#33a2bd));
  background-image: linear-gradient(to right top, #3dcdbc, #2bc3c0, #22b8c2, #27adc1, #33a2bd);
  padding-bottom: 25px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.header-main > img {
  width: 80%;
  max-width: 200px;
}

.header-main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

.header-main > div > h2 {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
  text-align: center;
}

.header-main > div > p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  text-align: left;
  margin: 20px;
}

.header-main > div > a {
  background-color: #fff;
  color: #37b4bd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-main > div > a:hover {
  background-color: transparent;
  color: #fff;
}

.reklamy-fluid {
  background-color: #f6f6f6;
}

.reklamy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reklamy > img {
  margin: 20px;
}

.pierwsza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  margin: 30px auto;
  text-align: center;
}

.pierwsza > h2 {
  font-weight: 400;
  font-size: 30px;
  color: #4d4d4d;
  text-align: center;
}

.pierwsza > p {
  width: 60%;
  font-weight: 400;
  font-size: 13px;
  color: #898989;
  text-align: center;
  margin: 20px;
}

.pierwsza > a {
  background-color: #00ffa3;
  color: #239c71;
}

.pierwsza > a:hover {
  background-color: transparent;
  color: #00ffa3;
}

.naKafelki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

.kafelek {
  width: 333px;
  margin: 25px;
  padding: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  cursor: pointer;
}

.kafelek:hover {
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
}

.produkty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.prod-podwojne {
  width: 350px;
  height: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin: 20px 10px;
}

.produkt {
  width: 350px;
  height: 240px;
}

.p1 {
  background-color: #e1a87b;
}

.p2 {
  background-color: #a49b9e;
}

.p3 {
  background-color: #e6dedc;
  height: 508px;
}

.p4 {
  background-color: #bfeeb8;
}

.p5 {
  background-color: #8fa387;
}

.cytaty-fluid {
  background-color: #f6f6f6;
}

.cytaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

.cytat {
  width: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cytat > div.okragly {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  width: 80px;
  height: 80px;
  background-color: #a6a4b1;
  border-radius: 40px;
}

.cytat .cytat-tekst > q {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  color: #898989;
}

.cytat .cytat-tekst > p:before {
  content: "— ";
}

.cytat .cytat-tekst > p {
  font-weight: 600;
  font-size: 10px;
  font-style: italic;
  color: #4d4d4d;
}

.footer-fluid {
  background-color: #262626;
}

.twojbiznes {
  width: 50%;
  text-align: center;
  color: white;
  font-size: 22px;
}

.negroguzik {
  font-weight: 600;
  background-color: #262626;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 20px 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.negroguzik:hover {
  color: #262626;
  background-color: #fff;
}

.stopka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stopka > div {
  width: 50%;
  margin-top: 40px;
}

.stopka-opis > h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.stopka-opis > p {
  color: #898989;
  font-size: 14px;
}

.stopka-linki > a {
  color: #17b794;
  text-decoration: none;
}

.stopka-linki > a:hover {
  color: white;
}

.stopka-kontakt {
  color: #17b794;
}

.email input[type=text] {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #239c71;
  padding: 10px;
  width: 225px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.email input[type=text]::-webkit-input-placeholder {
  color: #898989;
}

.email input[type=text]:-ms-input-placeholder {
  color: #898989;
}

.email input[type=text]::-ms-input-placeholder {
  color: #898989;
}

.email input[type=text]::placeholder {
  color: #898989;
}

.email input[type=submit] {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: white;
  width: 70px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #239c71;
  margin: 2px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.email input[type=submit]:hover {
  background-color: #00ffa3;
}

.koniec-fluid {
  background-color: #1a1a1a;
}

.koniec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
}

.koniec p, .koniec a {
  display: inline;
  font-size: 10px;
  font-weight: 300;
}

.koniec p {
  color: #4d4d4d;
}

.koniec a {
  color: #239c71;
}

ul.menu {
  background-color: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.menu > li {
  margin: 0px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

ul.menu a {
  color: #17b794;
  text-decoration: none;
}

.pasek {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pasek img {
  margin-top: 5px;
}

.pasek > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .hidden-xs {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  ul.menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
  }
  ul.menu a {
    background-color: white;
  }
  spatio {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .hidden-sm {
    display: block;
  }
  .hidden-md {
    display: none;
  }
  spatio {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    padding: 0 15px;
  }
  .naKafelki {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .produkty {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .produkty > div {
    margin-top: 0;
  }
  .prod-podwojne {
    margin-top: 0;
  }
  .cytaty {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cytaty > div {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .stopka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stopka > div {
    width: 50%;
    margin: 0px 20px;
  }
  .stopka > div {
    width: auto;
  }
  .email {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  spatio {
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-xl {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */