$wys-menu:50px;
$menu-color:white;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display:none;
}
.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.hidden-xs {
    display: none;
}

.button{
    margin: 0px;
    padding:20px;
    font-weight: 500;
    font-size: 10px;
    text-align:center;
    transition: all 0.3s;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //cursor: pointer;
}
.button:hover{
    box-shadow:none;
}

// header-main ----------------------------------------
.header-main-fluid{
    background-image: linear-gradient(to right top, #3dcdbc, #2bc3c0, #22b8c2, #27adc1, #33a2bd);
    padding-bottom:25px;
}

.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
}

.header-main > img{
    width: 80%;
    max-width:200px;
}

.header-main > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Raleway', sans-serif;
    > h2{
        
        font-weight: 300;
        font-size: 42px;
        color: #fff;
        text-align: center;
    }

    >p{
        
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        text-align: left;
        margin: 20px;
    }
    >a{
        
        background-color: #fff;
        color:#37b4bd;
        transition: all 0.3s;

        
    }
   >a:hover{
        background-color: transparent;
        color:#fff;
    }
   
}
////////////
//REKLAMY//
//////////
.reklamy-fluid{
    background-color: #f6f6f6;
}

.reklamy{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    
    >img{
        margin:20px;
    }
    //justify-content:center;
}
///////////////////
//PIERWSZA SEKCJA//
///////////////////
.pierwsza{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Raleway', sans-serif;
    margin: 30px auto;
    text-align:center;
    > h2{
        
        font-weight: 400;
        font-size: 30px;
        color: #4d4d4d;
        text-align: center;
    }

    >p{
        width:60%;
        font-weight: 400;
        font-size: 13px;
        color: #898989;
        text-align: center;
        margin: 20px;
    }
    >a{
        
        background-color: #00ffa3;
        color:#239c71;
    }
    >a:hover{
        background-color: transparent;
        color:#00ffa3;
    }

}
///////////
//KAFELKI//
///////////
.naKafelki{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-family: 'Raleway', sans-serif;
}

.kafelek{
    width:333px;
    margin:25px;
    padding:20px;
    transition: all 0.6s;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:left;
}
.kafelek:hover{
    transform:translateY(35px);
}
////////////
//PRODUKTY//
////////////
.produkty{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    /*>div{
        width:30%;
        height:0;
        padding-top:30% * 1.42;
        background-color: red;
        margin:20px;
        >div{
            position:absolute; top:0;
            width:100%;
            height:0;
            padding-top:66%;
            background-color: rgb(0, 128, 43);
        }
    }*/
}

@mixin proporcje($szerokosc, $wysokosc)//w % i w liczbie np. 100% i 1.4
{
    width:$szerokosc;
    height:0;
    padding-top:$szerokosc * $wysokosc;
    position: relative;
    overflow:hidden;
    >div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: green;
    }
}

.p-sub{
    @include proporcje(30%, 1.42);
    background-color: red;
    margin:20px;
}


.p0-sub{
        width:30%;
        height:0;
        padding-top:30% * 1.42;
        background-color: red;
        margin:20px;
        >div{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: green;
        }
}
.produkt{
    width:100%;
    height:0;
    padding-top:66%;
    position: relative;
    overflow:hidden;
    background-color: blue;
    margin:10px 0;
}
/*
.produkty>div:nth-child(1)
{
    background-color: #e1a87b;
}
.produkty>div:nth-child(2)
{
    background-color: #a49b9e;
}
.produkty>div:nth-child(3)
{
    background-color: #e6dedc;
    $w1:2*0.625*$szerProd;
    height:$w1;
}
.produkty>div:nth-child(4)
{
    background-color: #bfeeb8;
}
.produkty>div:nth-child(5)
{
    background-color: #8fa387;
}*/

/*ul.menu{
    //display:flex;
    background-color:$menu-color;
    display:none;//domyslnie schowane
    flex-direction:column;
        >li{
            margin:0px 10px 0px 10px;
            display:flex;
            flex-direction:row;
            align-items:center;
            text-align: center;
        }
    
}

.pasek{
    position:sticky;
    top:0;
    z-index:10;
    width:100%;
    height:$wys-menu;
    background-color: $menu-color;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    //widoczny najwyzszy poziom menu
    >ul{
        display:flex;
    }

}*/







@media (min-width: 576px) {
    .container {
        width: 540px;
    }

    .hidden-xs {
        display: block;
    }

    .hidden-sm {
        display: none;
    }
    .header-main > img{
        //width: auto;
    }

    /*ul.menu{
        flex-direction:row;
        background-color:$menu-color;
        a{
            background-color: $menu-color;
        }
    }*/
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .hidden-sm {
        display: block;
    }

    .hidden-md {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    .hidden-md {
        display: block;
    }

    .hidden-lg {
        display: none;
    }

    .header-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height:100vh;
        padding: 0 15px;
    }
    .naKafelki{
        flex-direction: row;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .hidden-lg {
        display: block;
    }

    .hidden-xl {
        display: none;
    }
}